[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
mysql-connector-python = "*"
djangorestframework = "*"
djangorestframework-xml = "*"
djoser = "*"
django-cors-headers = "*"
pillow = "*"
charset-normalizer = "*"
oauthlib = "*"
requests = "*"
requests-oauthlib = "*"
social-auth-app-django = "*"
social-auth-core = "*"
sqlparse = "*"

[dev-packages]

[requires]
python_version = "3.8"
